* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    overflow-x: hidden;
}

#nav {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background: rgb(255, 130, 45);
    position: sticky;
    top: 0;
    left: 0;
    /*background: rgba(255, 130, 45, 0.8); */
}

#nav #logo {
    width: 8vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

#nav #logo img {
    object-fit: scale-down;
    width: 6vw;
}

#nav #logo h1 {
    margin-left: 10px;
}

#nav #links {
    width: 20vw;
    margin-right: 2%;
}

#nav #links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#main-content {
    height: 90vh;
    background: url("../imgs/background.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info {
    height: 90vh;
}

.text-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.center-text {
    text-align: center;
    color: white;
    font-size: 200px;
    font-family: Roboto, sans-serif;
}